@model Improvar.ViewModels.PrintPage
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/Content/NoMarginPrint.css" type="text/css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PAGE_TITLE</title>
    <style>
        @@page {
            margin-left: .20in;
            margin-right: .20in;
            margin-top: .20in;
            margin-bottom: .20in;
            size: A4 landscape;
        }
        .bold {
    font-weight: bold;
}
.Italic{
  font-style:italic
}
fieldset {
      margin: 2px auto 15px;
      width: 358px;
    }
@@media print{
   .noprint{
       display:none;
   }
}
    </style>
    <script>
        function changeName()
        {
            var text = document.getElementById("PNTTXT");
            document.getElementById("PNTTXT").innerHtml = text;
        }
        function SetFont()
        {
            var ff=$("#fsize").val();
            ff=ff;
            document.execCommand('fontSize', false, ff);
            
        }
        function SelectedValue() {
            var e = document.getElementById("dropdownFontFamily");
            var strUser = e.options[e.selectedIndex].value;
            if (strUser == "TypeWriter") {
                document.execCommand('fontName', false, "\'TypeWriter\'");
            } else if (strUser == "Komika") {
                document.execCommand('fontName', false, "\"Komika\"");
            } else {
                document.execCommand('fontName', false, strUser);
            }
            document.getElementById("dropdownFontFamily").style.fontFamily = strUser;
        }
    </script>
</head>
<body>
    <fieldset class="noprint">
        <button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text">
            <i>I</i>
        </button>
        <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text">
            <b>B</b>
        </button>
        <button class="fontStyle" onclick="document.execCommand( 'underline',false,null);">
            <u>U</u>
        </button>
        <input type="number" min="1" max="30" value="5" id="fsize" />
        <button class="fontStyle" onclick="SetFont();">
            Set
        </button>
        <select onchange="SelectedValue()" name="fonts" id="dropdownFontFamily" class="dropdown_class" style="margin-top:0px;display:inline-block;">
            <option id="dropdown_item" value="Lucida Console" style="font-family:'Lucida Console';">Lucida Console</option>
            <option id="dropdown_item" value="sans-serif" style="font-family:'sans-serif';">sans-serif</option>
            <option id="dropdown_item" value="arial" style="font-family:'arial';">Arial</option>
            <option id="dropdown_item" value="Impact" style="font-family:'Impact';">Impact</option>
            <option id="dropdown_item" value="Times New Roman" style="font-family:'Times New Roman';">Times New Roman</option>
            <option id="dropdown_item" value="Courier New" style="font-family:'Courier New';">Courier New</option>
            <option id="dropdown_item" value="Calibri" style="font-family:'Calibri';">Calibri</option>
            <option id="dropdown_item" value="Century Gothic" style="font-family:'Century Gothic';">Century Gothic</option>
            <option id="dropdown_item" value="Georgia" style="font-family:'Georgia';">Georgia </option>
            <option id="dropdown_item" value="Komika" style="font-family:'Komika';">Komika </option>
            <option id="dropdown_item" value="monospace" style="font-family:'monospace';">monospace</option>
        </select>
    </fieldset>
    @if (Model.PrintingPageContent != null)
    {
        for (int i = 0; i < Model.PrintingPageContent.Count; i++)
        {//need a heading
            <div style="page-break-after:always">
                @if (Model.PrintingPageContent[i].NAME != null)
                {
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="editor-field">
                                @*@Html.TextAreaFor(model => Model.PrintingPageContent[i].NAME, new { @class = "form-control", style = "resize: none;font-size:x-large;font-weight:bold;border:none;height:24px;", id = "NAME" + i })*@
                                <div contenteditable="true" class="textEditor" style = "resize:none;font-size:x-large;font-weight:bold;border:none;height:24px;" id="NAME_@i">
                                    @Model.PrintingPageContent[i].NAME
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-10">
                        <div class="editor-field">
                            @*@Html.TextAreaFor(model => Model.PrintingPageContent[i].PNTTXT, new { @class = "form-control", style = "font-size:x-large;border:none;width:" + Model.WIDTH + "px;height:" + Model.HEIGHT + "px;", id = "PNTTXT" + i })
                        <script>changeName();</script>*@
                            @{ 
                                string styleStr = "width:" + Model.WIDTH + "px;height:" + Model.HEIGHT + "px;";
                            }
                            <div contenteditable="true" class="textEditor" style="font-family:monospace;font-size:x-large;border:none;@styleStr" id="PNTTXT_@i">
                                @(new HtmlString(Model.PrintingPageContent[i].PNTTXT)) 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div><p>No Data Found. Please Select another Data</p></div>
    }
</body>
</html>
