################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Improvar_Cloth/.vs
/Improvar_Cloth/bin
/Improvar_Cloth/obj/Debug
/Improvar_Cloth/.vs/config
/Improvar_Cloth/bin
/Improvar_Cloth/obj/Debug
/Improvar_Cloth/UploadDocuments
/Improvar_Cloth/obj/Release
