################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/Improvar_Cloth
/packages
/Improvar_Cloth/obj/Debug
