@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PreviewBarcodeTxtFmt</title>
</head>
<body onload="window.print()">
    @ViewBag.BarText
</body>
</html>
