<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email</title>
</head>
<body>
    To,<br />
    {slnm}<br /><br />
    Dear Sir/Madam,
    <br /><br />
    Please find following attached invoices.
    <br /><br />
    <table>
        <thead>
            <tr><th style="padding-right: 6px;">Invoice No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Invoice Date &nbsp;</th><th style="text-align:right">Invoice Amt (INR)</th></tr>
        </thead>
        <tbody>
            {tbody}
        </tbody>
    </table>
    <br />
    For any further queries feel free to contact us at:-
    <br />
    https://wa.me/917980453950?text=+Hi
    <br /><br /><br />
    PLS CALL ON {compmobno}
    <br /><br /><br />
    <b>{compname}</b><br />
    <img src="{complogo}" alt="" name="Company Logo" style="width: 128px;height: 30px;" /><br /> 
    <br /><br /><br />
    https://maps.app.goo.gl/Psb4Aw3CTwXMpxem9 <br /><br />
    Thanks & Regards,<br /><br />

    <!--{username}<br />
    Mob: {usermobno}<br />-->
   

</body>
</html>
