@model Improvar.ViewModels.ItemMasterEntry
@using System.Data;
@{
//int sl = 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("td").on("mouseover", function (e) {
            var titlee = $(this).find("input").val();
            $(this).attr('title', titlee);
        });
    });
</script>
<div style="height:auto;overflow-y:auto;margin-top:0px;">
    <div class="table-responsive table-wrapper">
        @if (Model.DefaultView == true)
        {
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" id="searchItemPrc" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'exampleItemPrices');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size: 11px;color: darkmagenta; border: 1px inset;"><b>Price List Rate Master </b></center>
            </div>
            <div id="gridnm" class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:320px;">
                    <table id="exampleItemPrices" class="resizable table-striped" cellpadding="0px" cellspacing="0px">
                        @if (Model.DTPRICES != null && Model.DTPRICES.Columns.Count > 0)
                        {
                            <thead>
                                <tr class="sticky-header">
                                    @foreach (DataColumn column in Model.DTPRICES.Columns)
                                    {
                                        @*<th class="grid_th text-right" style="width:70px;">@v</th>*@
                                        <th class="grid_th">@column.Caption</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DTPRICES.Rows.Count; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < Model.DTPRICES.Columns.Count; j++)
                                        {
                                            if (j < 2)
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.DTPRICES.Rows[i][j], new { @class = "atextBoxFor text-right", style = "background-color:lightgrey;", @Readonly = "Readonly" })
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.TextBoxFor(model => model.DTPRICES.Rows[i][j], new { @class = "atextBoxFor text-right" })
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>
