@model string
@{
    string[] scriptGraph = Model.Split(new string[] { "##^^" }, StringSplitOptions.None);
}
<script>
    $(document).ready(function () {

        var parent = document.getElementById('container11');
        var child = document.getElementById('container22');
        //child.style.right = child.clientWidth - child.offsetWidth + 'px';       
        var dd = parent.offsetWidth - parent.clientWidth;
        var ff = dd + parent.offsetWidth;
        $("#container11").width(ff);
        var oldurl = location.href;
        var index = oldurl.indexOf("excel_req=");
        var newurl = oldurl.substring(0, index + 10);
        newurl = newurl + '@scriptGraph[2]';
        window.history.pushState({ path: newurl }, '', newurl);
        $("body").css("overflow", "hidden");        
    });
    document.onkeydown = function (evt)
    {
        var oldurl = location.href;
        var index = oldurl.indexOf("excel_req=");
        var newurl = oldurl.substring(0, index + 10);
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = (evt.key == "Escape" || evt.key == "Esc");
        } else {
            isEscape = (evt.keyCode == 27);
        }
        if (isEscape) {           
            $("#popup_overlay1").hide(function () {
                newurl = newurl + "@scriptGraph[3]_month";
                window.history.pushState({ path: newurl }, '', newurl);
                document.onkeydown = function (evt) {
                    evt = evt || window.event;
                    var isEscape = false;
                    if ("key" in evt) {
                        isEscape = (evt.key == "Escape" || evt.key == "Esc");
                    } else {
                        isEscape = (evt.keyCode == 27);
                    }
                    if (isEscape) {
                        $("#popup_overlay").hide(500);                       
                        $("body").css("overflow", "auto");
                        newurl = newurl + "@scriptGraph[3]";
                        window.history.pushState({ path: newurl }, '', newurl);                      
                    }
                };
            });
        }
    };
</script>


<style>
    * {
        margin: 0;
    }

    #container11 {
        height: 350px;
        overflow-y: auto;
        /*position: relative;*/
    }

    /*#container22 {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow-y: auto;
    }*/
</style>
<div id="popup_overlay1">
    <div id="popup_text">
        <div id="popupgrid" style="width:964px">
            @(new HtmlString(scriptGraph[0]))
        </div>

    </div>
</div>

