@model Improvar.ViewModels.DataUploadVM
<script type="text/javascript">
    $(document).ready(function () {
        resizableTables[resizableTables.length] = new ColumnResize(document.getElementById('tblPbill_Bill'));
        $("td").on("mouseover", function (e) { var titlee = $(this).find("input").val(); $(this).attr('title', titlee); });
    });
</script>
<div  style="background-color:#c4b9b9;border:5px groove;width: 733px;" >
    <div class="table-responsive" >
        @if (Model.DefaultView == true)
        {
            <div class="grid_title">
                <div class="col-md-8">
                    <input type="text" name="search" class="grid_title_box textbox_image" value="" placeholder="Filter" onkeyup="filterTable(event, 'tblPbill_Bill');" />
                    <img src="~/Image/search.png" title="Help" />
                </div>
                <center style="font-size:11px;color:darkmagenta;border:1px inset;height: 21px;padding: 4px;"><b>Purchase Bill Selection</b></center>
            </div>
            <div class="sticky-table sticky-ltr-cells">
                <div style="height:auto;overflow-y:scroll;max-height:235px;">
                    <table id="tblPbill_Bill" class="resizable table-striped" cellpadding="0px" cellspacing="0px" >
                        <thead>
                            <tr class="sticky-header" style="height:30px;">
                                <th class="sticky-cell" style="width: 27px;"></th>
                                <th class="" style="width: 30px;text-align:center;">SL No.</th>
                                <th class="" style="width: 59px;">Bill No</th>
                                <th class="" style="width: 100px;">Bill Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DUpGrid != null)
                            {
                                for (int i = 0; i <= Model.DUpGrid.Count - 1; i++)
                                {
                                    <tr style="font-size:12px; font-weight:bold;">
                                        <td class="sticky-cell" style="padding-left:7px;padding-right:7px;">
                                            @Html.CheckBoxFor(model => model.DUpGrid[i].Checked, new { id = "Checked_" + i, @TabIndex = -1 })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.DUpGrid[i].Slno, new { id = "Slno_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.DUpGrid[i].BLNO, new { id = "BLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                        <td class="">
                                            @Html.TextBoxFor(model => Model.DUpGrid[i].BLDT, new { id = "BLNO_" + i, @class = " atextBoxFor ", @style = "text-align:center;", maxlength = 2, @TabIndex = -1, @readonly = "readonly" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>                        
                    </table>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="editor-field">
            <input id="btnUploadDBF" type="submit" value="Upload" name="Command" formtarget="_blank" class="btn btn-success" style="margin-top: 4px;padding: 2px 7px 2px 5px;" />
        </div>
    </div>
</div>