@model Improvar.ViewModels.ReportViewinHtml
@{
    ViewBag.Title = "Data Upload";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(function () {
        $("#TDT").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true });
    });
</script>
@using (Html.BeginForm("Sys_PriceList_Upload", "Sys_PriceList_Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal" style="padding-left:5px;padding-right:5px;">
        <div class="row">
            <div class="col-md-3">
                <div class="editor-field" style="margin-top: 4px;">
                    @Html.Label("", "Effective Date")
                    <b style="color:red"><sup>*</sup></b>
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-field">
                    @Html.EditorFor(model => model.TDT, new { htmlAttributes = new { @class = "form-control", id = "TDT", onblur = "DocumentDateCHK(this);", autocomplete = "off", @placeholder = "dd/mm/yyyy", maxlength = 10 } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-field" style="margin-top: 4px;">
                    @Html.Label("", "Select Price List")
                    <b style="color:red"><sup>*</sup></b>
                </div>
            </div>
            <div class="col-md-10">
                <div class="editor-field" style="margin-top: 4px;">
                    <input type="file" name="UploadedFile" accept=".xlsx" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="editor-field">

                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    <input type="submit" value="Upload" name="Command" formtarget="_blank" class="btn btn-primary" style="margin-top: 4px;padding: 2px 7px 2px 5px;" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    <input type="submit" value="Download Template" name="Command" formtarget="_blank" class="btn btn-primary" style="margin-top: 4px;padding: 2px 7px 2px 5px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="helpDIV">

        </div>
    </div>
}