@model Improvar.ViewModels.UserGuideImprovar
@{
    ViewBag.Title = "User Guide";
    Layout = null;
}
<head>
    <link rel="intcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>User Guide</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/MyStyle.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom.js"></script>

    <style>
        kbd {
            display: inline-block;
            margin: 0 .1em;
            padding: .1em .6em;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 11px;
            line-height: 1.4;
            color: #242729;
            text-shadow: 0 1px 0 #FFF;
            background-color: #e1e3e5;
            border: 1px solid #adb3b9;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
            white-space: nowrap;
        }

        .t_gradient {
            margin-top: 20px;
            background-image: linear-gradient(90deg, #7ee289, #FFFFFF);
        }

        .m_gradient {
            margin-top: 17px;
            background-image: linear-gradient(90deg, #CDDC39, #f7ffff);
        }
    </style>

    <script>
        function saveQues() {
            $.ajax({
                type: 'post',
                url: 'SaveData',
                data: $('form').serialize(),
                success: function (result) {
                    alert(result);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    msgError("Error: " + textStatus + "," + errorThrown);
                }
            });
        }
        function addRowUsr() {
            $.ajax({
                type: 'post',
                url: 'AddRowUG',
                data: $('form').serialize(),
                success: function (result) {
                    $("#partialdivUG").html(result);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
        function deleteRowUsr() {
            $.ajax({
                type: 'post',
                url: 'DeleteRowUG',
                data: $('form').serialize(),
                success: function (result) {
                    $("#partialdivUG").html(result);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#WaitingMode").hide();
                    msgError(XMLHttpRequest.responseText);
                    $("body span h1").remove(); $("#msgbody_error style").remove();
                }
            });
        }
    </script>
</head>
<body style="background-color:#f7ffff">
    <nav class="navbar navbar-expand-lg static-top sb-navbar" style="background-color: rgb(38, 110, 154);">
        <div class="container">
            <a class="navbar-brand" href="/" style="color:white">Start With IPSMART</a>
            <div class="navbar-right">
                <img src="~/Image/IPSMART-LOGO.png" style="width:30px;" />
            </div>
        </div>
    </nav>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="center-block">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-9">
                        <header>
                            <p>Ip Smart Infotech LLP</p>
                        </header>
                        @*<h1>Company Name: @Model.COMPNM</h1>
                            <h2>Module Name: Sales</h2>*@
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered" style="font-size:15px;">
                                    <thead><tr><th>Option</th><th>ShortCut Key</th></tr></thead>
                                    <tbody>
                                        <tr><td>Close Message Box </td><td><kbd>Space</kbd></td></tr>
                                        <tr><td>Go to Next Field</td><td><kbd>Enter</kbd> or <kbd>Tab</kbd></td></tr>
                                        <tr><td>Go to Previous Field</td><td><kbd>Shift</kbd>+<kbd>Tab</kbd></td></tr>
                                        <tr><td>Cursor movent in Grid</td><td>Use Arrow key</td></tr>
                                        <tr><td>Open Help window</td><td><kbd>F2</kbd></td></tr>
                                        <tr><td>Go to Add mode  <span class="glyphicon glyphicon-plus" style="font-size:larger;color:blue"></span>      </td><td><kbd>Alt</kbd>+<kbd>N</kbd></td></tr>
                                        <tr><td>Go to Edit mode &nbsp;<span class="glyphicon glyphicon-pencil" style="font-size:larger;color:blue"></span>     </td><td><kbd>Alt</kbd>+<kbd>E</kbd></td></tr>
                                        <tr><td>Go to Revert/View mode <span class="glyphicon glyphicon-remove" style="font-size:larger;color:blue"></span>    </td><td><kbd>Alt</kbd>+<kbd>C</kbd></td></tr>
                                        <tr><td>For Delete   <span class="glyphicon glyphicon-trash" style="font-size:larger;color:blue"></span>       </td><td><kbd>Alt</kbd>+<kbd>D</kbd></td></tr>
                                        <tr><td>For Print    <span class="glyphicon glyphicon-print" style="font-size:larger;color:blue"></span>       </td><td><kbd>Alt</kbd>+<kbd>→</kbd></td></tr>
                                        <tr><td>For Next Record   <span class="glyphicon glyphicon-arrow-right" style="font-size:larger;color:blue"></span>       </td><td><kbd>Alt</kbd>+<kbd>→</kbd></td></tr>
                                        <tr><td>For Previous Record <span class="glyphicon glyphicon-arrow-left" style="font-size:larger;color:blue"></span>      </td><td><kbd>Alt</kbd>+<kbd>←</kbd></td></tr>
                                        <tr><td>To Save        <span class="glyphicon glyphicon-ok" style="font-size:larger;color:blue"></span>       </td><td><kbd>Alt</kbd>+<kbd>S</kbd></td></tr>
                                        <tr><td>To Find</td><td><kbd>Ctrl</kbd>+<kbd>F</kbd></td></tr>
                                        <tr><td>Reload Page</td><td><kbd>Ctrl</kbd>+<kbd>R</kbd></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        @if (CommVar.ModuleCode() == "SALESCHEM" || CommVar.ModuleCode() == "SALESSMPL" || CommVar.ModuleCode() == "SALESREC")
                        {
                            <div>

                                <div class="row">
                                    <div class="col-md-12 text-center" style="background-color:darkkhaki;border-radius: 6px;">
                                        <h1 class="personalcolor" style="color: dimgrey;"> Module Description </h1>
                                    </div>
                                </div>
                                <section>
                                    <div class="row m_gradient">
                                        <div class="col-xs-6 text-left left">
                                            <p> Q) How to Sale a New Product?   </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Create a <a href="#FinishedProduct">Finished Product</a> item</li>
                                                <li> Select the Broad Group for that Item  </li>
                                                <li> If that Item is not within that Broad group ,then create the Broad Group against that item and entry the HSN Code of that item(If not know then from the (Internet/google.co.in) Search the HSN Code of that Item.) </li>
                                                <li> Select the Item Group Name(Such as Laptop accessories Item Belongs to Item Group Miscellaneous or MISC). </li>
                                                <li> If that Item is not in the already created Item Group Name,then Create the Item Group Name From the Group Master </li>
                                                <li> Select the Item rate Calculate as Qnty/Bag and Select the Stock Calculate as Qnty/Bag </li>
                                                <li> Select the Group Name and then Select the Stock Maintain in Pcs or Bag.Insert the Packsize and CLD(Pcs in Case). </li>
                                                <li> Select The Product Group against that Item.If that Item has no Product Group then Create its Product Group from Product Group(Tax/Disc) under Product Menu </li>
                                                <li> If that Item has no Product Group then Create its Product Group from Product Group(Tax/Disc) under Product Menu </li>
                                                <li> Create the Group against that Item from the Group Master. Select the Group Short name.</li>
                                                <li> Select the Rate Quantity on as Qnty/Bag and Insert the Item Godown Store Address and Godown short name.</li>
                                                <li> If the Godown Address is not within the List,then Create the Godown Under Godown Master Menu from Other Menu. </li>
                                                <li> Select Whether User Can Maintain Batch Wise Stock as Mandatory,Optional or No. </li>
                                                <li> Select the Tick Mark as Open Price Concept(No Price List Required), Rate can change at the time of billing,Quantity can change during in Billing Process and Inclusive Rate.</li>
                                                <li> Set Sale and Purchase Rate in the <a href="#PriceList"> Price List </a></li>
                                                <li> Insert an entry in the Price List Code Master and select the Price List Group as EXFTY/MRP/PARTY/RAKA/WP and insert an name in the Price list Code.</li>
                                                <li> Then Insert an entry in the Price List Menu and Select the name in the  the Price Code, Insert the Price Description,Choose an Effective Date, Select the Product Group Code and then Click the Get Items Button and List the Product Group Name, Item Name from the Grid View and insert the Product Rate and Select the Discount as Qnty/Nos and Select the Commission as Qnty/Nos and Tick the appropiate Selection </li>
                                                <li> Tax(GST(CGST/SGST/IGST)) Rate Setup with Product/Item Group </li>
                                                <li> Select the Product Group aginst that Product and choose the effective Date and Click over the get data Button, then Tax group Name along with Tax Group Code and Tax percentage is displayed in the GridView </li>
                                                <li> Set the Tax(CGST/SGST/IGST) Percentage against that Item and Save the concerned Form/Page </li>
                                                <li> Insert an entry in the Document Type Menu in the Document master under Configuration Setup Menu </li>
                                                <li> Insert an Name as Document Description Name(If it is Sales Bill then Sale Bill-Tools,if it is Purchase Bill then Purchase Bill-Tools),Insert an Entry as Document Code OF Maximum 4 characters( 'S' will automatically add with Doc Code) </li>
                                                <li> Insert an Entry as Documnet Number Maximum Length, Doc Number Pattern and Description,Tick whether User will Allow Back Date or not and Insert an Entry as C as Document Footer and Save the Concerned Page </li>
                                                <li> Then the price List Link Up With Party <a href="#M_SubLeg_SDdtl_ItGrp"> Price List Link up With Party</a> .</li>
                                                <li>Now Open<a href="#SaleBill"> Sale Bill</a>.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />

                                <section>
                                    <div class="row m_gradient">
                                        <div class="col-xs-6 text-left left">
                                            <p> Q) How to Purchase a New Product?   </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Create a <a href="#FinishedProduct">Finish Product</a> item</li>
                                                <li>Set Sale and Purchase Rate in the <a href="#PriceList"> Price List </a></li>
                                                <li>Then the price List Link Up With Party <a href="#M_SubLeg_SDdtl_ItGrp"> Price List Link up With Party</a> .</li>
                                                <li>Now Open<a href="#PurchaseBill"> Purchase Bill</a>.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />
                                <section>
                                    <div class="row m_gradient" id="SaleBill">
                                        <div class="col-xs-6 text-left left">
                                            <p> Ex. Sales Bills Add or Edit </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Open Sale Billes from [ Inputs (Sales) => Sales Transaction => Sales Bills]</li>
                                                <li> Select the Appropiate Document Code,then Tag with Document Code with Group Name in the Master--> Product-->Group Master-->Document Types Tag </li>
                                                <li> Select the Buyer which have been already created by the User as Sundry Debtors in the Financial Package </li>
                                                <li> Then Tag/Link The Item with Customer master---> Tax Code/Credit Limit Party & Location wise </li>
                                                <li> Insert an Entry in the Tax Code/Credit Limit Party & Location wise Under Master --> Customer Master Menu </li>
                                                @*<li>Click on Add or Edit </li>
                                                    <li> Choose Document Code & Document Date  </li>*@
                                                <li> Select the Sub Ledger Code or Party Name,then Select the Concerned Tax Code as CGST/SGST </li>
                                                <li> Then Select the Item Name in the Grid View and also Select the Item Product List Code and Product List Name </li>
                                                <li> Open the Sales Bill and in the Sales Bill Menu Products tab Select the appropiate item and give the quantity(Inserted Quantity should be less than the Stock Quantity of that Item) </li>
                                                <li> Insert the Rate and total Bill be will be Generated and in the Main Tab the Calculated amount Should be Rounded Off </li>
                                                <li> Total Calculated amount has been calculated and Save the Record in the Concerned Sales Bill Page and From the Print Record Menu, Print the appropiate Sales Bill </li>
                                                <li> Choose a Buyer Name.After choice of Buyer name, automaticaly initial your price list code & name </li>
                                                <li> That is linked in the<a href="#PriceList">  price list </a>. Here you can change the Price  List.</li>
                                                <li> After that Go to <u>Products</u> tab & choose a Item Code</li>
                                                <li> Next Put the Unit in the <i>Units</i> cell</li>
                                                <li> Click on Batch Details </li>
                                                <li> Either you maintain Batch wise Stock then change batch or close it </li>
                                                <li> You can add maximum 5 item in a bill </li>
                                                <li> If you change the round off value then you click on the round off check box </li>
                                                <li> If you want to add any charges then click on Amount tab </li>
                                                <li> If you want to add any transport details then click on Transport tab and put the value </li>
                                                <li> You can also add the remarks for the bill &amp; atach a document tab </li>
                                                <li> Atlast Click on the save Button </li>
                                                <li> Note the Invoice No </li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />
                                <section>
                                    <div class="row m_gradient" id="PurchaseBill">
                                        <div class="col-xs-6 text-left left">
                                            <p> Ex. Purchase Bills Add or Edit </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Open Sale Billes from [ Inputs (Purchase) => Purchase Transaction => Purchase Bills]</li>
                                                <li> Select the Buyer which have been already created by the User as Sundry Creditors in the Financial Package </li>
                                                <li>Click on Add or Edit </li>
                                                <li> Choose Document Code & Document Date  </li>
                                                <li> Choose a Buyer Name . After choosed buyer name, autometicly initial your price list code & name. That is linked in the<a href="#PriceList">  price list </a>. Here you can change the Price  List.</li>
                                                <li> In the main tab you put the Purchase Bill No. Purchase Bill Date</li>
                                                <li> after that Go to <u>Products</u> tab & choose a Item Code</li>
                                                <li>Next Put the Unit in the <i>Units</i> cell</li>
                                                <li>click on Batch Details </li>
                                                <li>Here you put the batch no &amp; mfg date exp date&amp; NOS .</li>
                                                <li>Close it.</li>
                                                <li>If you change the round off value then you click on the round off check box in the main tab.</li>
                                                <li>If you want to add any charges then click on Amount tab. </li>
                                                <li>If you want to add any transport details then click on Transport tab and put the value. </li>
                                                <li>you can also add the remarks for the bill &amp; atach a document tab.</li>
                                                <li> Please Put the Purchase Bill Amount Which have give to the party.</li>
                                                <li>Atlast Click on the save Button. </li>
                                                <li>Note the Inoice No</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />
                                <section>
                                    <div class="row m_gradient" id="FinishedProduct">
                                        <div class="col-xs-6 text-left left">
                                            <p> Ex Finish Product.   </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Open finished product from [Master => Product => Finished Product] </li>
                                                <li>Put all the Required Value. Also change the <span class="info">Group</span> Name.It is notify that In which group product is it? </li>
                                                <li>If you have deactive the Product then the product will not be visible anywhere[<b class="warning">i.e</b> Remove from price list,Reports]</li>
                                                <li>If the product has multiple unit then fill <u class="text-info"> Unit</u> tab</li>
                                                <li>Atlast <u class="bg-success"> Save</u> it</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />

                                <section>
                                    <div class="row m_gradient" id="PriceList">
                                        <div class="col-xs-6 text-left left">
                                            <p>Ex. How to Add or modify Price List? </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <p class="bg-warning text-info"> When change any item's purchase rate or Sales rate then need to create a new Price List. </p>
                                            <ol>
                                                <li>Go to Master => Prices => Price List. </li>
                                                <li><b class="text-capitalize text-primary">Edit Mode: </b>Choose your existing Price List with last effective Date from the SEARCH pannel.</li>
                                                <li>Click on "Edit"</li>
                                                <li>Search your Item name from the price list grid</li>
                                                <li>Put Sale and Purchase Rate</li>
                                                <li>Click Save</li>
                                                <li><b class="text-capitalize text-primary">Add Mode: </b>Click on Add(+) Option.</li>
                                                <li>Choose price code. If you want to create Standard[STD] price list then choose <b><i><u>STD</u></i></b> . Otherwise you need to create Customised <a href="#PriceListCode"> price List Code</a>.</li>
                                                <li>Put Effectiv date description  And specific group Code.</li>
                                                <li>Click get items</li>
                                                <li>Filter your Items and put Purchase and sale rate.</li>
                                                <li>Click Save</li>

                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />


                                <section>
                                    <div class="row m_gradient" id="PriceListCode">
                                        <div class="col-xs-6 text-left left">
                                            <p>Ex. Add or Modify Price List Code </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Go to Master =>Prices => Price List Code =>Click add or Selected(select) Edit.</li>
                                                <li>Put Code Name and Group.</li>
                                                <li>If Special party price list then put Party name with party group.</li>
                                                <li>Click Save</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />


                                <section>
                                    <div class="row m_gradient" id="M_SubLeg_SDdtl_ItGrp">
                                        <div class="col-xs-6 text-left left">
                                            <p>Ex.  Price Code Linkup with Party.  </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <ol>
                                                <li>Go to Master => Customer Master => Price Code Linkup with party (Group Wise). </li>
                                                <li>Click On Add(+) Button </li>
                                                <li>Choose your Group. Click on get Party Item.</li>
                                                <li>Search your Party name from the grid</li>
                                                <li>Put PList Code and tax code &amp; Sap Code. </li>
                                                <li>Save it</li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />


                                <section>
                                    <div class="row m_gradient">
                                        <div class="col-xs-6 text-left left">
                                            <p> Q) Sale/Purchase product to/from a new party ? </p>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <small>Process</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <p>When change any item Purchase rate or Sales rate then need to create a new Price List.</p>
                                            <ol>
                                                <li>Create a Customer Master</li>
                                                <li>Then the price List Link Up With Party <a href="#M_SubLeg_SDdtl_ItGrp"> Price List Link up With Party</a> .</li>
                                                <li>Now you can Sale or Purchase a product.Start business with this party. </li>
                                            </ol>
                                        </div>
                                    </div>
                                </section>
                                <hr />
                            </div>
                        }

                        <hr />
                        @*<div class="row">
                                <div class="col-md-12">Click + Button For Put the requirement => then click on save button</div>
                            </div>

                            <div class="row">
                                <div id="partialdivUG">
                                    @Html.Partial("_User_Guide")
                                </div>
                            </div>
                            <hr />*@
                        <div class="row">
                            <div class="col-md-12 text-center" style="background-color:darkkhaki;border-radius: 6px;">
                                <h1 class="personalcolor" style="color: dimgrey;">Common Options</h1>
                            </div>
                        </div>
                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Auto Add</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    From this option you can go directly View/Printing page after adding(If checked).Or Go to Next Entry Page(if checked).
                                </div>
                                <div class="col-xs-12 text-right">
                                    <img src="~/Image/help_AutoAdd.png" style="width:inherit" />
                                </div>
                            </div>

                        </section>
                        <hr />
                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Sorting &amp; Column Search:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    You can sort data column wise.Click on beside of the column then it will visible(^)sign. Click here for sorting Accending on decending Order.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 ">
                                    Sorting in Asending Order ScreenShot displayed.
                                    <img src="~/Image/help_sortingasc.png" style="width:349px;height:352px;" />
                                </div>
                                <div class="col-md-11">
                                    Column Search
                                    <img src="~/Image/help_columnsearch.png" style="width:349px;height:352px;" />
                                </div>
                            </div>

                        </section>
                        <hr />

                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Change Company, Location and Year:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    At first close all package tabs(without menu screen) from your browser.After that click on Change company option.
                                </div>
                                <div class="col-xs-12 text-right">
                                    <img src="~/Image/help_change_company.png" style="width:inherit" />
                                </div>
                            </div>

                        </section>

                        <hr />

                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Add Favourite:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    You can add your Favourite Menu in the Favourite Menu Folder.
                                </div>
                                <div class="col-xs-12 text-right">
                                    <img src="~/Image/help_addfav.png" style="width:inherit;height:248px;" />
                                </div>
                            </div>

                        </section>

                        <hr />


                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>How to Login:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-xs-12 text-left left">
                                        Http://Local SERVER NAME/Sales
                                    </div>
                                    <div class="col-xs-12">
                                        <img src="~/Image/help_login.png" style="width:inherit;height:202px;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-left left">
                                        Or Ip_Address/Sales
                                    </div>

                                    <div class="col-xs-12" style="margin-top:6px;">
                                        <img src="~/Image/help_login_ip.png" style="width:inherit;height:202px;" />
                                    </div>
                                </div>
                            </div>

                        </section>
                        <hr />

                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Show your Password and Set Default:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-11 ">


                                    Clicking on Unmasking Password button



                                </div>
                                <div class="col-md-11">

                                    When you next time Login then automatically select default Company & Location & Finantial Year.


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 ">
                                    <img src="~/Image/help_show_passwd.png" style="width:349px;height:352px;" />
                                </div>
                                <div class="col-md-11">
                                    <img src="~/Image/help_set_default.png" style="width:349px;height:352px;" />
                                </div>
                            </div>
                        </section>
                        <hr />
                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Add row in a grid and Delete row in a grid:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 ">
                                    Click on Add button
                                    <img src="~/Image/help_addrow.png" style="width: 403px;height: 139px;" />
                                </div>
                                <div class="col-md-11">  Select check box.Click on (-) button. <img src="~/Image/help_deleterow.png" style="width: 403px;height: 139px;" /></div>
                            </div>

                        </section>
                        <hr />



                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Uploaded Document view:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    Click on the Preview Option.
                                </div>
                                <div class="col-xs-12 text-right">
                                    <img src="~/Image/help_upload_document.png" style="width:inherit" />
                                </div>
                            </div>

                        </section>
                        <hr />


                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Filter Option:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    Click on Filter option.
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            Before Filter
                                        </div>
                                        <div class="col-xs-12">
                                            <img src="~/Image/help_filter1.png" style="width:inherit" />

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">After Filter</div>
                                        <div class="col-xs-12"><img src="~/Image/help_filter2.png" style="width:inherit" /></div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <hr />

                        <section>
                            <div class="row t_gradient">
                                <div class="col-xs-6 text-left left">
                                    <h4>Create a new user:</h4>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <small>ticks</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-left left">
                                    Login into @Module.Module_Name Module ->Configuration setup ->User defination
                                </div>

                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
