body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
body .divMain{
       
        overflow:auto;
    }
   .divMain #floatDiv {
        position:absolute;
        left: 4%;
        margin-top:10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-left:-10px;
        background-color: grey;
        opacity: 0.7;
            
    }
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
 .footer-static{
    height: 256mm;    
    font-size:10px;
}
 .EveryPageFooter{
   height: 277mm; 
 }
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;              
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
    
}
@media print {
    
     html, body {
    width: 210mm;
    height: 297mm;
  }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }    
   
}