
.grid_table {
    /*table-layout: fixed;*/
    overflow: hidden;
    border: 2px outset #bbb;
}

.grid_th {
    color: #fff;
    background-color: #808080;
    border: 1px outset;
    border-color: #bbb;
    padding-left: 4px;
    padding-right: 2px;
}

.grid_th_3d {
    /*color: #fff;
        background-color: #808080;
        border: 1px outset;
        border-color:#bbb;
        padding-left:4px;
        padding-right:2px;*/
    color: #fff;
    background-color: #808080;
    margin: 1px;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-width: 2px;
    border-style: inset;
}

.grid_title {
    width: 100%;
    height: 2%;
    overflow-y: auto;
}

.grid_title_box {
    float: left;
    margin-top: 0px;
    height: 17px;
    display: block;
    width: 100%;
    padding: 0px 5px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-right: -19px;
    padding-right: 21px;
}

.grid_title div img {
    width: 17px;
    height: 15px;
    margin-top: 1px;
}

.grid_title img {
    float: left;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.select_3d {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}













.grid_td {
    color: #000;
    border: 1px outset;
}

/*.grid_tr_hover:hover{
         background-color: #ecfa77;
    }*/
.grid_table tr:nth-child(even) {
    background-color: #fffed9;
}

    .grid_table tr:nth-child(even):hover {
        background-color: #c8f1f8;
    }

.grid_table tr:nth-child(odd) {
    background-color: #fff;
}

    .grid_table tr:nth-child(odd):hover {
        background-color: #c8f1f8;
    }



table#t01 th {
    background-color: black;
    color: white;
}




.atextBoxFor {
    width: 100%;
    border: 0px,0px,0px,0px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 1px;
    background-color: transparent;
}

.atextBoxFor_grid_3d {
    width: 100%;
    border: 0px,0px,0px,0px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}

.acheckBoxFor_grid_3d {
    /*border: 0px,0px,0px,0px;
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;*/
    padding-left: 4px;
    padding-right: 4px;
    /*background-color: transparent;*/
}
.atextBoxFor[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}

